<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:72px; background-color: white; margin:0 auto; width:90%;">
    <h2 align="center" >Edit Order <%= @order.id %></h2>
</div> 
<div class="container">
<%= render partial: 'form', locals: { order: @order, clerk: @clerk, patron: @order.patron, url: update_clerk_order_url } %>
</div>