<div class="top">
<br>
    <h2 >New Order</h2>
</div> 
<div style="width:70%; margin:0 auto;">
    <h3>
        <small class='text-muted'>
        <p>
        <%if !flash[:message].blank? %>
        <%= flash[:message] %>
        <% end %>

        <% if !@order.errors.full_messages.blank?  %>
        <% @order.errors.full_messages.each do |message| %>
        <%=message %>
        <br>
        <% end %>
        <% end %>

        
        <% if @patron && !@patron.errors.full_messages.blank?  %>
        <% @patron.errors.full_messages.each do |message| %>
        Patron <%= message %>
        <br>
        <% end %>
        <%end %>
        <p>
    </h3>
</div>

<%= render partial: 'form', locals: { order: @order, clerk: @clerk, patron:(:patron_attributes), patrons: Patron.all.reverse, url: clerk_orders_url } %>

