<br><br>
<div class="header-row" id="header-row" style="padding: 0px; overflow:hidden; height:72px; background-color: white; margin:0 auto; width:90%;">
    <h2 align="center" >New Order</h2>
</div> 

<br>
<div class="container">
<%= render partial: 'form', locals: { order: @order, clerk: @clerk, patron:(:patron_attributes), patrons: Patron.all.reverse, url: clerk_orders_url } %>
</div>
