<br>
<br>

<h1 align="center">New Order</h1>
<hr>
<br>
<div class="container">
<%= render partial: 'form', locals: { order: @order, clerk: @clerk, patron: @order.patron, url: clerk_orders_url } %>
</div>