// Place all the styles related to the Clerks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.field_with_errors input[type="text"]{
    border: 1px solid red;
}
div.field_with_errors input[type="password"]{
    border: 1px solid red;
}
div.field_with_errors input[type="date"]{
    border: 1px solid red;
}

div.header-row h2{
    text-emphasis: muted;
}

div.banner{
    width: 69.85%;
    margin: 0 auto;
    background-color: rgb(13, 150, 13);
    height: 65px;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-emphasis-color: white;
}

div.banner p{
    color: white;
}

body.all{
    background-color: lightgrey;
}

body.all a{
    color:rgb(13, 150, 13);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

div.top{
    padding: 0px; 
    overflow:hidden; 
    height:70px; 
    background-color: white; 
    margin: 0 auto; margin:0 auto; 
    width:69.85%;
}

div.top h2{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

small.text-muted p{
    color: red;
}