<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<h1 align="center" class="display-1">Welcome</h1>
<h2 align="center">
    <small class="text-muted"><%= link_to "Login", login_path %> or <%= link_to "Sign up", new_clerk_path %></small>
</h2>
<br>
<hr>